* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #f4f9fc;
    color: #17212b;
}



h1,
h2,
h3,
.navbar-brand {
    font-family: "Space Grotesk", sans-serif;
}
/* 
   NAVBAR*/

.navbar {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid #d9e5ec;
}

.navbar-brand {
    color: #087f8c !important;
    font-size: 25px;
    font-weight: bold;
}

.nav-link {
    color: #26343d !important;
    margin-left: 15px;
}

.nav-link:hover,
.nav-link.active {
    color: #087f8c !important;
}


/* 
   HERO
*/

.hero {
    min-height: 90vh;

    display: flex;
    align-items: center;

    background:
        radial-gradient(
            circle at 70% 50%,
            rgba(0, 174, 190, 0.12),
            transparent 35%
        ),
        linear-gradient(
            135deg,
            #f7fbfd,
            #e8f5f7
        );

    padding: 80px 8%;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 65px;
    font-weight: bold;
    color: #17212b;
}

.hero h1 span {
    color: #087f8c;
}

.hero p {
    font-size: 20px;
    color: #53636d;
    line-height: 1.7;
}


/* 
   GENERAL SECTION
 */

.section {
    padding: 90px 8%;
}

.section-title {
    text-align: center;

    font-size: 42px;

    margin-bottom: 15px;

    color: #17212b;
}

.section-description {
    text-align: center;

    color: #667780;

    max-width: 700px;

    margin: 0 auto 50px;

    line-height: 1.7;
}


/* 
   PARTICLES
 */

.particle-buttons {
    display: flex;

    justify-content: center;

    gap: 15px;

    flex-wrap: wrap;

    margin-bottom: 40px;
}

.particle-btn {
    padding: 12px 25px;

    border: 1px solid #087f8c;

    background: white;

    color: #087f8c;

    border-radius: 30px;

    cursor: pointer;

    transition: 0.3s;
}

.particle-btn:hover,
.particle-btn.active {
    background: #087f8c;

    color: white;
}

.particle-info {
    max-width: 700px;

    margin: auto;

    padding: 35px;

    background: white;

    border: 1px solid #d5e5e9;

    border-radius: 20px;

    text-align: center;

    box-shadow:
        0 8px 30px rgba(30, 70, 80, 0.08);
}

.particle-info h3 {
    color: #087f8c;

    margin-bottom: 20px;
}


#particle-title{
    font-weight: bold;
}

/* 
   ELEMENT FAMILIES
 */

.family-card {

    position: relative;

    height: 300px;

    border-radius: 20px;

    overflow: hidden;

    border: 1px solid #d5e5e9;

    background-size: cover;

    background-position: center;

    cursor: pointer;

    display: flex;

    align-items: end;

    transition: 0.4s;
}


/* 
   DARK OVERLAY
 */

.family-card::before {

    content: "";

    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            transparent 20%,
            rgba(0, 0, 0, 0.75)
        );
}


/* 
   CONTENT
 */

.family-content {

    position: relative;

    z-index: 2;

    padding: 25px;

    width: 100%;
}

.family-content h3 {

    color: #ffffff;

    font-size: 22px;

    margin-bottom: 8px;
}

.family-content p {

    color: #f2f7f8;

    margin: 0;
}


/*
   BACKGROUND IMAGES
*/

.alkali-metals {

    background-image:
        url("../assets/img/image.png");
}

.noble-gases {

    background-image:
        url("../assets/img/2.png");
}

.halogens {

    background-image:
        url("../assets/img/3.png");
}


/*
   HOVER
 */

.family-card:hover {

    transform: translateY(-8px);

    border-color: #087f8c;

    box-shadow:
        0 10px 25px rgba(30, 80, 90, 0.15);
}

.family-card:hover {

    background-size: 110%;
}


/* 
   MOLECULES
 */

.molecule-card {

    text-align: center;

    padding: 35px;

    background: white;

    border: 1px solid #d5e5e9;

    border-radius: 20px;

    transition: 0.3s;

    box-shadow:
        0 8px 25px rgba(30, 70, 80, 0.06);
}

.molecule-card:hover {

    transform: translateY(-8px);

    border-color: #087f8c;
}

.molecule {

    font-size: 55px;

    font-weight: bold;

    color: #087f8c;

    margin-bottom: 15px;
}


/* 
   FACTS
 */

.fact-number {

    font-size: 60px;

    font-weight: bold;

    color: #087f8c;
}

.fact-card {

    text-align: center;

    padding: 30px;

    background: white;

    border-radius: 20px;

    border: 1px solid #d5e5e9;

    box-shadow:
        0 8px 25px rgba(30, 70, 80, 0.06);
}


/* 
   FOOTER
 */

footer {

    padding: 40px;

    text-align: center;

    background: #e6f0f3;

    color: #60727b;
}


/* 
   MOBILE
 */

@media (max-width: 768px) {

    .hero {

        padding: 70px 6%;

        text-align: center;
    }

    .hero h1 {

        font-size: 45px;
    }

    .hero p {

        font-size: 17px;
    }

    .section {

        padding: 70px 5%;
    }

    .section-title {

        font-size: 32px;
    }

}

.navbar-toggler {
    border: 1px solid #087f8c;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23087f8c' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}